<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="armarm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.016869872878182 -7.25086812364342E-05 -0.0191399749243649"
        rpy="0 0 0" />
      <mass
        value="1.51115460246734" />
      <inertia
        ixx="0.00512915549939724"
        ixy="1.34002461176202E-05"
        ixz="-1.58055112793233E-12"
        iyy="0.00871416793501376"
        iyz="1.253820195276E-11"
        izz="0.0138379553843523" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.035083033674117 -0.00415934285750682 0.00218726342128653"
        rpy="0 0 0" />
      <mass
        value="2.52839234415653" />
      <inertia
        ixx="0.0034868807361204"
        ixy="-9.28341215280675E-06"
        ixz="-1.51421027245029E-06"
        iyy="0.0206826977793449"
        iyz="-2.49745487927448E-06"
        izz="0.0227755526534273" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="continuous">
    <origin
      xyz="-3.2465E-05 1.0134E-05 0.066"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.112512639803757 0.00273212691579126 -0.0355363965584416"
        rpy="0 0 0" />
      <mass
        value="0.425516880933423" />
      <inertia
        ixx="9.08717563449305E-05"
        ixy="-9.15390847597292E-12"
        ixz="-1.39115683387731E-06"
        iyy="0.0027657225969899"
        iyz="-1.14090954983423E-11"
        izz="0.00272709297268402" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.32753 -0.04351 0.0325"
      rpy="1.5708 3.1416 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0651512472133347 -0.00931897166971897 -0.000171100160753751"
        rpy="0 0 0" />
      <mass
        value="0.122270691158031" />
      <inertia
        ixx="2.91569573749936E-05"
        ixy="5.76405724844773E-06"
        ixz="-1.69858636443256E-07"
        iyy="0.000133645083707022"
        iyz="1.33491397958492E-07"
        izz="0.000136289156439715" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.34 0 -0.0435"
      rpy="0 0 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.0180143425602793 -0.0494695111798099 0.0239052844480039"
        rpy="0 0 0" />
      <mass
        value="0.0478316913769084" />
      <inertia
        ixx="4.97476467538955E-05"
        ixy="-9.57855804930017E-06"
        ixz="2.49424727468677E-07"
        iyy="3.49339849733935E-05"
        iyz="7.34300502151482E-07"
        izz="2.91036780131539E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.17 -0.020156 -0.02375"
      rpy="0 0 1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.713238262090564 -0.00159805879902436 -0.0566453676338307"
        rpy="0 0 0" />
      <mass
        value="6.72485772348953" />
      <inertia
        ixx="0.0495961217544726"
        ixy="0.0019300946304443"
        ixz="0.0238489495738574"
        iyy="0.365339449397009"
        iyz="0.00272700919493718"
        izz="0.379507093139552" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
  
    name="joint5"
    type="fixed">
    <origin
      xyz="-0.033 -0.0904 0.02425"
      rpy="-1.5708 0 3.14159" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>